.active html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: black;
  align-items: center;
  color: white;

}
div
{
    margin-top: 5%;
    height: 80vh;
    width: 50%;
    margin-left: 30%;
    align-items: center;
    color: #ffff;
    background-color: aqua;
}
.btn
{
    margin-left: 30%;
    margin-top: -10%;
    height: 50px;
    width: 40%;
    background-color: black;
    color: bisque;
    border-radius: 12%;
}

.btn:hover
{
    background-color: rgb(131, 7, 7);
    color: bisque;
    cursor: pointer;
}

h1
{
    font-size: 45px;   
    margin-left: 43%;
    margin-top: 15%;
   
}
h2
{
    font-size: 25px;   
    margin-left: 26%;
    margin-top: 5%;
   
}
@media (max-width: 850px) 
{
    
div
{
    margin-top: 10%;
    height: 80vh;
    width: 50%;
    margin-left: 30%;
    align-items: center;
    color: #ffff;
    background-color: rgb(4, 26, 26);
}
.btn
{
    margin-left: 30%;
    margin-top: -10%;
    height: 55px;
    width: 50%;
    background-color: black;
    color: bisque;
    border-radius: 12%;
}

.btn:hover
{
    background-color: rgb(131, 7, 7);
    color: bisque;
    cursor: pointer;
}

h1
{
    font-size: 45px;   
    margin-left: 35%;
    margin-top: 15%;
   
}
h2
{
    font-size: 20px;   
    margin-left: 0%;
    margin-top: 5%;
   
}
}